.p-4 {
  padding: 0rem;
}


p {
  max-width: 600px;
  text-align: center;
  margin-bottom: 2rem;
}
.d{
  height: 500px;
}

.bottom-tag-html{
  margin-left: -20px;
}




    .flex {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: center;

  }
