
<section class="bg-white dark:bg-gray-900">
  <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
      <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white mx-auto">About me</h2>
          <p class="mb-4">I am an experienced full-stack developer, passionate about innovation and quality of the code. My motivation lies in digital transformation and the positive impact that we can create together.</p>
          <div class="flex items-center">
            <!-- Angular -->
            <div class="relative group">
              <i data-tooltip-target="ANGULAR" data-tooltip-placement="top" class="fab fa-angular w-8 h-8 text-4xl text-black mr-4 mb-4 cursor-pointer group-hover:text-blue-500 transform transition-transform hover:scale-110"></i>
            </div>

            <!-- HTML5 -->
            <div class="relative group">
              <i data-tooltip-target="HTML5" data-tooltip-placement="top" class="fab fa-html5 w-8 h-8 text-4xl text-black mr-4 mb-4 cursor-pointer group-hover:text-orange-500 transform transition-transform hover:scale-110"></i>
            </div>

            <!-- JavaScript -->
            <div class="relative group">
              <i data-tooltip-target="javascript" data-tooltip-placement="top" class="fab fa-js w-8 h-8 text-4xl text-black mr-4 mb-4 cursor-pointer group-hover:text-yellow-500 transform transition-transform hover:scale-110"></i>
            </div>

            <!-- CSS3 -->
            <div class="relative group">
              <i data-tooltip-target="CSS3" data-tooltip-placement="top" class="fab fa-css3-alt w-8 h-8 text-4xl text-black mr-4 mb-4 cursor-pointer group-hover:text-blue-500 transform transition-transform hover:scale-110"></i>
            </div>

            <!-- Node.js -->
            <div class="relative group">
              <i data-tooltip-target="NODEJS" data-tooltip-placement="top" class="fab fa-node-js w-8 h-8 text-4xl text-black mr-4 mb-4 cursor-pointer group-hover:text-green-500 transform transition-transform hover:scale-110"></i>
            </div>
            <!-- Java -->
            <div class="relative group">
              <i data-tooltip-target="JAVA" data-tooltip-placement="top" class="fab fa-java w-8 h-8 text-4xl text-black mb-4 cursor-pointer group-hover:text-red-500 transform transition-transform hover:scale-110"></i>
            </div>
          </div>



          <div>
            <div id="HTML5" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-g font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip ">
              HTML5
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div id="CSS3" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-g font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip ">
              CSS3
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div id="javascript" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-g font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip ">
              JAVASCRIPT
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div id="ANGULAR" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-g font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip ">
              ANGULAR
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div id="JAVA" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-g font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip ">
              JAVA
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div id="NODEJS" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-g font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip ">
                NODE JS
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
           </div>




      </div>
      <div class="grid grid-cols-2 gap-4 mt-4  mb-16">
          <img class="w-full rounded-lg transform transition-transform hover:scale-110" src="./../../assets/images/3e.jpg" alt="office content 1">

          <img class="mt-2 w-full lg:mt-10 rounded-lg transform transition-transform hover:scale-110" src="./../../assets/images/d5.jpg" alt="office content 2">

            <a routerLink="/contact"  class="inline-flex justify-center items-center py-2 px-5 text-base font-medium text-center text-black rounded-lg ">
              Let's Talk
               <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
           </a>


      </div>


  </div>

</section>

